In [3]:
#11.1
import zoo

time = zoo.hours()

print(time)

Open 9-5 daily
None

In [4]:
#11.2
import zoo as menagerie

time = menagerie.hours()

print(time)

Open 9-5 daily
None

16.3
I created the file it will be inclued in the github.

In [ ]:
#16.4
import sqlite3
conn = sqlite3.connect("books.db")
curs = conn.cursor()
curs.execute("CREATE TABLE book (title VARCHAR(20) PRIMARY KEY, author VARCHAR(20), year INT)")

In [1]:
#16.5
import sqlite3
import pandas
data = pandas.read_csv('books2.csv')
conn = sqlite3.connect("books.db")
curs = conn.cursor()
curs.execute("CREATE TABLE book (title VARCHAR(20) PRIMARY KEY, author VARCHAR(20), year INT)")  
for i, row in data.iterrows():
    curs.execute('INSERT INTO book VALUES(?, ?, ?)',(row['title'],row['author'],row['year']))
curs.execute('SELECT * FROM book')

row=curs.fetchall()
print(row)

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Mi√©ville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

In [11]:
#16.8
import sqlalchemy as sa
import pandas
data = pandas.read_csv('books2.csv')
conn = sa.create_engine('sqlite://')
conn.execute("CREATE TABLE book (title VARCHAR(20) PRIMARY KEY, author VARCHAR(20), year INT)")  
for i, row in data.iterrows():
    conn.execute('INSERT INTO book VALUES(?, ?, ?)',(row['title'],row['author'],row['year']))
read = conn.execute('SELECT title FROM book')

for row in read:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)